<ul class="content">
    <li class="content__item">
        <h2 class="title-3_dark">Profile</h2>
        <p class="description">{{profile}}</p>
    </li>
    <li class="content__item">
        <h2 class="title-3_dark">Work Experience</h2>
        <ul class="details">
            {{#each experience}}
            <li>
                <div>
                    <ul class="details__period">
                        <li>{{period.from}}</li>
                        <li>{{period.to}}</li>
                    </ul>
                    <div class="details__title">
                        <h3 class="title-2">{{jobTile}}</h3>
                        <p class="details__item">{{companyName}}</p>
                    </div>

                </div>
                <p class="details__description">{{description}}</p>
            </li>
            {{/each}}
        </ul>
    </li>
</ul>