<ul class="skills">
    {{#if education}}
    <li class="skills__item">
        <h2 class="title-2">Education</h2>
        {{#each education }}
        <ul class="details">
            <li class="details__item">
                {{period}}
            </li>
            <li class="details__item_uppercase">
                {{universityName}}
            </li>
            <li class="details__item_uppercase">
                {{subject}}
            </li>
        </ul>
        {{/each}}
    </li>
    {{/if}}
    {{#if skills.length}}
    <li class="skills__item">
        <h2 class="title-2">Pro skills</h2>
        <ul class="details">
            {{#each skills as | skill | }}
            <li class="details__item">{{skill}}</li>
            {{/each}}
        </ul>
    </li>
    {{/if}}
    {{#if awards}}
    <li class="skills__item">
        <h2 class="title-2">Awards</h2>
        <ul class="details">
            {{#each awards as | award | }}
            <li class="details__item">{{award}}</li>
            {{/each}}
        </ul>
    </li>
    {{/if}}
</ul>